# Prerequisites
*.d

# Object files
*.o

# Linker output
*.exe
*.out
prog

# IDE and metadata
.vscode/
compile_commands.json

# test files
/tests/testHexCoord
/tests/testBoardCell
/tests/testPersonalBoard
/tests/testCentralBoard
/tests/testTokenBag
/tests/testTokenSlot
